body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.sign-in-option {
    margin: 15px 0;
}

.google-btn {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
}

.google-btn img {
    width: 20px;
    margin-right: 10px;
}

.or {
    margin: 20px 0;
    color: #777;
}

.email-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.continue-btn {
    width: 100%;
    padding: 10px;
    background-color: #D3D3D3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.other-ways {
    margin: 20px 0;
    color: #777;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons img {
    width: 40px;
    cursor: pointer;
}

.footer-links {
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    color: #0071eb;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.backToHome {
    width: 20px;
    margin-right: 10px;
}